{
  "extends": [
    "./node_modules/@justoss/code-style/eslint-config-typescript",
    "./node_modules/@justoss/code-style/eslint-config-react"
  ],
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "rules": {
        "@typescript-eslint/no-unused-vars": ["error", {
          "ignoreRestSiblings": true
        }],
        "@typescript-eslint/quotes": "off",
        "arrow-body-style": ["error", "as-needed"],
        "new-cap": "off",
        "react-perf/jsx-no-jsx-as-prop": "off",
        "react/prop-types": "off",
        "jsx-a11y/no-autofocus": "off",
      },
      "parserOptions": {
        "tsconfigRootDir": ".",
        "project": [
          "./tsconfig.json"
        ]
      }
    },
    {
      "files": [
        "**/*.stories.tsx",
        "**/*.test.tsx",
        "test-utils.tsx"
      ],
      "rules": {
        "@typescript-eslint/ban-ts-comment": "off",
        "react-perf/jsx-no-new-array-as-prop": "off",
        "react-perf/jsx-no-new-function-as-prop": "off",
        "react-perf/jsx-no-new-object-as-prop": "off"
      }
    }
  ]
}
